<div class="infeedl--creative infeedl--article">
  <a class="infeedl--link-image" href="{{ creative.content.url }}" target="_blank" data-infeedl-events-click>
    <img class="infeedl--image" src="{{ creative.picture }}" alt="{{ creative.title }}" />
  </a>
  <p class="infeedl--brand">{{ creative.brand }}</p>
  <h3 class="infeed--title">
    <a class="infeedl--link-title" href="{{ creative.content.url }}" target="_blank" data-infeedl-events-click>
      {{ creative.title }}
    </a>
  </h3>
</div>
