<div class="infeedl--creative infeedl--video infeedl--appearance--{{ placement.appearance }}">
  <a class="infeedl--link-image" href="{{ creative.content.location }}" target="_blank" data-infeedl-events-click>
    <img class="infeedl--image" src="{{ creative.picture }}" alt="{{ creative.title }}" />
  </a>
  <p class="infeedl--brand">{{ creative.brand }}</p>
  <h2 class="infeedl--title">
    <a class="infeedl--link-title" href="{{ creative.content.location }}" target="_blank" data-infeedl-events-click>
      {{ creative.title }}
    </a>
  </h2>
</div>
